@font-face {
  font-family: aAtmospheric;
  src: url("../assets/fonts/aAtmospheric.ttf");
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

body {
  font-size: 67.5%;
  line-height: 1.5;
  color: #333;
}

/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */
ul {
  list-style: none;
}

button,
input,
select {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
video {
  height: auto;
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

@-webkit-keyframes star_move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@keyframes star_move {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-100vw);
            transform: translateX(-100vw);
  }
}

@-webkit-keyframes idea_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-20px, 30px);
            transform: translate(-20px, 30px);
  }
  50% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  75% {
    -webkit-transform: translate(-10px, 40px);
            transform: translate(-10px, 40px);
  }
}

@keyframes idea_move {
  0%, 100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  25% {
    -webkit-transform: translate(-20px, 30px);
            transform: translate(-20px, 30px);
  }
  50% {
    -webkit-transform: translate(30px, -40px);
            transform: translate(30px, -40px);
  }
  75% {
    -webkit-transform: translate(-10px, 40px);
            transform: translate(-10px, 40px);
  }
}

@-webkit-keyframes seek_left_move {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@keyframes seek_left_move {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  75% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
}

@-webkit-keyframes planet_shake {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@keyframes planet_shake {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  25% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  75% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
}

@-webkit-keyframes planet_rotate {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes planet_rotate {
  0%, 100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

body {
  background-image: url("../assets/images/bg.svg");
  background-size: cover;
  font-family: aAtmospheric;
  overflow-x: hidden;
}

.stars > div {
  z-index: -1;
  position: fixed;
  left: 10px;
  top: 10px;
}

.stars #stars1 {
  width: 1px;
  height: 1px;
  background-color: #fff;
  -webkit-box-shadow: 102vw 59vh #fff , 146vw 47vh #fff , 64vw 55vh #fff , 134vw 82vh #fff , 6vw 57vh #fff , 51vw 56vh #fff , 33vw 28vh #fff , 149vw 94vh #fff , 51vw 17vh #fff , 196vw 54vh #fff , 9vw 54vh #fff , 20vw 70vh #fff , 89vw 94vh #fff , 157vw 71vh #fff , 118vw 89vh #fff , 7vw 35vh #fff , 179vw 38vh #fff , 152vw 33vh #fff , 106vw 25vh #fff , 125vw 32vh #fff , 90vw 61vh #fff , 24vw 99vh #fff , 18vw 97vh #fff , 128vw 61vh #fff , 46vw 77vh #fff , 175vw 11vh #fff , 192vw 94vh #fff , 77vw 82vh #fff , 153vw 1vh #fff , 94vw 70vh #fff , 79vw 60vh #fff , 10vw 74vh #fff , 131vw 41vh #fff , 23vw 49vh #fff , 44vw 47vh #fff , 150vw 66vh #fff , 160vw 3vh #fff , 1vw 82vh #fff , 190vw 89vh #fff , 107vw 67vh #fff , 87vw 23vh #fff , 187vw 81vh #fff , 198vw 2vh #fff , 9vw 54vh #fff , 50vw 13vh #fff , 155vw 37vh #fff , 77vw 57vh #fff , 138vw 65vh #fff , 147vw 36vh #fff , 184vw 93vh #fff , 9vw 30vh #fff , 164vw 65vh #fff , 77vw 63vh #fff , 135vw 30vh #fff , 165vw 4vh #fff , 171vw 54vh #fff , 165vw 87vh #fff , 8vw 9vh #fff , 166vw 39vh #fff , 40vw 69vh #fff , 73vw 33vh #fff , 160vw 42vh #fff , 7vw 95vh #fff , 196vw 43vh #fff , 199vw 57vh #fff , 7vw 34vh #fff , 168vw 82vh #fff , 67vw 60vh #fff , 12vw 79vh #fff , 92vw 30vh #fff , 141vw 35vh #fff , 102vw 83vh #fff , 45vw 54vh #fff , 166vw 80vh #fff , 1vw 55vh #fff , 63vw 84vh #fff , 1vw 65vh #fff , 111vw 20vh #fff , 115vw 32vh #fff , 170vw 89vh #fff , 58vw 34vh #fff , 150vw 1vh #fff , 23vw 46vh #fff , 120vw 8vh #fff , 59vw 81vh #fff , 22vw 20vh #fff , 71vw 90vh #fff , 2vw 99vh #fff , 168vw 99vh #fff , 186vw 86vh #fff , 57vw 92vh #fff , 65vw 76vh #fff , 80vw 30vh #fff , 185vw 17vh #fff , 31vw 58vh #fff , 116vw 21vh #fff , 35vw 91vh #fff , 71vw 35vh #fff , 49vw 99vh #fff , 17vw 45vh #fff , 33vw 43vh #fff , 90vw 5vh #fff , 95vw 63vh #fff , 44vw 26vh #fff , 140vw 2vh #fff , 174vw 76vh #fff , 106vw 72vh #fff , 65vw 80vh #fff , 71vw 5vh #fff , 129vw 91vh #fff , 108vw 74vh #fff , 176vw 71vh #fff , 170vw 88vh #fff , 70vw 59vh #fff , 22vw 71vh #fff , 168vw 17vh #fff , 24vw 75vh #fff , 12vw 8vh #fff , 50vw 41vh #fff , 120vw 17vh #fff , 36vw 72vh #fff , 44vw 63vh #fff , 119vw 37vh #fff , 150vw 22vh #fff , 192vw 75vh #fff , 47vw 55vh #fff , 83vw 83vh #fff , 18vw 4vh #fff , 182vw 8vh #fff , 186vw 27vh #fff , 145vw 55vh #fff , 48vw 27vh #fff , 69vw 28vh #fff , 74vw 86vh #fff , 129vw 81vh #fff , 19vw 54vh #fff , 131vw 32vh #fff , 73vw 33vh #fff , 51vw 16vh #fff , 103vw 92vh #fff , 193vw 30vh #fff , 104vw 60vh #fff , 110vw 72vh #fff , 172vw 26vh #fff , 21vw 34vh #fff , 106vw 39vh #fff , 110vw 43vh #fff , 121vw 56vh #fff , 90vw 37vh #fff , 27vw 51vh #fff , 73vw 66vh #fff , 119vw 82vh #fff , 17vw 92vh #fff , 79vw 35vh #fff , 47vw 91vh #fff , 71vw 92vh #fff , 156vw 98vh #fff , 139vw 52vh #fff , 85vw 45vh #fff , 64vw 81vh #fff , 68vw 10vh #fff , 10vw 12vh #fff , 37vw 32vh #fff , 131vw 4vh #fff , 115vw 96vh #fff , 11vw 92vh #fff , 142vw 30vh #fff , 173vw 69vh #fff , 92vw 81vh #fff , 85vw 86vh #fff , 119vw 32vh #fff , 184vw 33vh #fff , 143vw 77vh #fff , 154vw 61vh #fff , 63vw 14vh #fff , 180vw 18vh #fff , 174vw 74vh #fff , 19vw 8vh #fff , 124vw 100vh #fff , 180vw 82vh #fff , 106vw 33vh #fff , 10vw 100vh #fff , 123vw 16vh #fff , 134vw 76vh #fff , 129vw 20vh #fff , 163vw 45vh #fff , 19vw 70vh #fff , 92vw 25vh #fff , 102vw 3vh #fff , 96vw 92vh #fff , 19vw 15vh #fff , 49vw 19vh #fff , 82vw 29vh #fff , 181vw 62vh #fff , 83vw 44vh #fff , 137vw 35vh #fff , 126vw 98vh #fff , 9vw 9vh #fff , 109vw 80vh #fff , 36vw 39vh #fff , 11vw 29vh #fff , 187vw 96vh #fff , 179vw 27vh #fff , 153vw 8vh #fff , 179vw 14vh #fff , 38vw 43vh #fff , 83vw 65vh #fff , 107vw 100vh #fff , 164vw 93vh #fff , 46vw 36vh #fff , 61vw 22vh #fff , 105vw 69vh #fff , 160vw 13vh #fff , 126vw 20vh #fff , 28vw 28vh #fff , 53vw 85vh #fff , 91vw 81vh #fff , 62vw 90vh #fff , 41vw 91vh #fff , 199vw 29vh #fff , 125vw 15vh #fff , 180vw 67vh #fff , 119vw 78vh #fff , 26vw 30vh #fff , 75vw 53vh #fff , 199vw 100vh #fff , 138vw 11vh #fff , 192vw 82vh #fff , 17vw 90vh #fff , 159vw 84vh #fff , 141vw 50vh #fff , 84vw 82vh #fff , 78vw 94vh #fff , 36vw 13vh #fff , 71vw 26vh #fff , 182vw 26vh #fff , 132vw 70vh #fff , 175vw 30vh #fff , 56vw 55vh #fff , 183vw 78vh #fff , 64vw 84vh #fff , 108vw 18vh #fff , 151vw 41vh #fff , 151vw 25vh #fff , 20vw 75vh #fff , 136vw 93vh #fff , 135vw 37vh #fff , 119vw 99vh #fff , 1vw 85vh #fff , 184vw 44vh #fff , 34vw 17vh #fff , 60vw 68vh #fff , 45vw 22vh #fff , 82vw 67vh #fff , 160vw 66vh #fff , 194vw 45vh #fff , 177vw 63vh #fff , 97vw 57vh #fff , 149vw 25vh #fff , 38vw 4vh #fff , 69vw 20vh #fff , 160vw 73vh #fff , 164vw 59vh #fff , 29vw 34vh #fff , 120vw 35vh #fff , 44vw 4vh #fff , 184vw 28vh #fff , 83vw 55vh #fff , 30vw 89vh #fff , 92vw 83vh #fff , 170vw 50vh #fff , 74vw 39vh #fff , 194vw 81vh #fff , 76vw 10vh #fff , 39vw 46vh #fff , 34vw 63vh #fff , 140vw 19vh #fff , 65vw 6vh #fff , 177vw 88vh #fff , 174vw 99vh #fff , 176vw 97vh #fff , 176vw 3vh #fff , 125vw 71vh #fff , 7vw 73vh #fff , 114vw 91vh #fff , 160vw 90vh #fff , 186vw 42vh #fff , 104vw 45vh #fff , 105vw 88vh #fff , 85vw 66vh #fff , 112vw 40vh #fff , 125vw 18vh #fff , 95vw 100vh #fff , 20vw 13vh #fff , 151vw 11vh #fff , 71vw 96vh #fff , 169vw 63vh #fff , 122vw 69vh #fff , 69vw 20vh #fff , 34vw 73vh #fff , 18vw 43vh #fff , 183vw 62vh #fff , 3vw 32vh #fff , 128vw 74vh #fff , 21vw 100vh #fff , 48vw 29vh #fff , 67vw 31vh #fff , 163vw 72vh #fff , 171vw 42vh #fff , 36vw 80vh #fff , 169vw 63vh #fff , 147vw 55vh #fff , 146vw 47vh #fff , 61vw 58vh #fff , 129vw 47vh #fff , 45vw 7vh #fff , 175vw 74vh #fff , 29vw 60vh #fff , 46vw 37vh #fff , 80vw 37vh #fff , 196vw 94vh #fff , 52vw 57vh #fff , 156vw 75vh #fff , 63vw 96vh #fff , 182vw 30vh #fff , 50vw 82vh #fff , 98vw 22vh #fff , 58vw 12vh #fff , 11vw 13vh #fff , 149vw 57vh #fff , 106vw 48vh #fff , 146vw 87vh #fff , 30vw 61vh #fff , 5vw 30vh #fff , 198vw 52vh #fff , 129vw 77vh #fff , 50vw 73vh #fff , 164vw 14vh #fff , 128vw 4vh #fff , 149vw 31vh #fff , 165vw 71vh #fff , 99vw 63vh #fff , 64vw 70vh #fff , 52vw 79vh #fff , 130vw 41vh #fff , 191vw 25vh #fff , 110vw 38vh #fff , 63vw 17vh #fff , 37vw 49vh #fff , 54vw 39vh #fff , 120vw 3vh #fff , 119vw 40vh #fff , 151vw 41vh #fff , 39vw 81vh #fff , 5vw 56vh #fff , 32vw 44vh #fff , 159vw 67vh #fff , 138vw 41vh #fff , 133vw 51vh #fff , 42vw 12vh #fff , 19vw 44vh #fff , 130vw 68vh #fff , 11vw 85vh #fff , 186vw 19vh #fff , 70vw 88vh #fff , 103vw 6vh #fff , 172vw 17vh #fff , 57vw 8vh #fff , 43vw 100vh #fff , 194vw 79vh #fff , 42vw 95vh #fff , 38vw 69vh #fff , 1vw 46vh #fff , 40vw 96vh #fff , 148vw 63vh #fff , 199vw 47vh #fff , 84vw 22vh #fff , 10vw 21vh #fff , 163vw 94vh #fff , 137vw 98vh #fff , 95vw 76vh #fff , 83vw 13vh #fff , 130vw 64vh #fff , 35vw 15vh #fff , 2vw 26vh #fff , 48vw 47vh #fff , 136vw 5vh #fff , 182vw 41vh #fff , 175vw 98vh #fff , 92vw 99vh #fff , 44vw 37vh #fff , 108vw 34vh #fff , 30vw 40vh #fff , 180vw 2vh #fff , 53vw 7vh #fff , 9vw 24vh #fff , 150vw 97vh #fff , 149vw 53vh #fff , 127vw 46vh #fff , 124vw 36vh #fff , 93vw 88vh #fff , 25vw 82vh #fff , 65vw 35vh #fff , 110vw 99vh #fff , 89vw 23vh #fff , 17vw 28vh #fff , 94vw 66vh #fff , 81vw 70vh #fff , 141vw 59vh #fff , 39vw 69vh #fff , 123vw 94vh #fff , 184vw 4vh #fff , 80vw 27vh #fff , 81vw 30vh #fff , 153vw 50vh #fff , 168vw 70vh #fff , 60vw 58vh #fff , 119vw 47vh #fff , 11vw 38vh #fff , 10vw 81vh #fff , 162vw 2vh #fff , 160vw 67vh #fff , 52vw 25vh #fff , 130vw 98vh #fff , 169vw 49vh #fff , 93vw 30vh #fff , 91vw 27vh #fff , 119vw 27vh #fff , 7vw 28vh #fff , 29vw 3vh #fff , 100vw 46vh #fff , 6vw 63vh #fff , 32vw 17vh #fff , 151vw 67vh #fff , 64vw 71vh #fff , 82vw 73vh #fff , 174vw 44vh #fff , 81vw 42vh #fff , 198vw 50vh #fff , 179vw 47vh #fff , 85vw 15vh #fff , 174vw 47vh #fff , 110vw 14vh #fff , 127vw 7vh #fff , 59vw 82vh #fff , 67vw 95vh #fff , 53vw 32vh #fff , 137vw 85vh #fff , 155vw 30vh #fff , 26vw 57vh #fff , 84vw 34vh #fff , 2vw 55vh #fff , 21vw 39vh #fff , 141vw 63vh #fff , 115vw 99vh #fff , 119vw 53vh #fff , 3vw 26vh #fff , 3vw 27vh #fff , 7vw 54vh #fff , 148vw 80vh #fff , 104vw 85vh #fff , 65vw 15vh #fff , 143vw 53vh #fff , 194vw 75vh #fff , 80vw 44vh #fff , 65vw 13vh #fff , 39vw 97vh #fff , 4vw 21vh #fff , 24vw 57vh #fff , 196vw 37vh #fff , 27vw 29vh #fff , 150vw 47vh #fff , 83vw 93vh #fff , 58vw 66vh #fff , 35vw 58vh #fff , 54vw 24vh #fff , 146vw 56vh #fff , 38vw 63vh #fff , 62vw 65vh #fff , 200vw 43vh #fff , 51vw 70vh #fff , 160vw 50vh #fff , 85vw 77vh #fff , 114vw 55vh #fff , 34vw 72vh #fff , 148vw 45vh #fff , 152vw 58vh #fff , 69vw 59vh #fff , 26vw 54vh #fff , 25vw 89vh #fff , 19vw 47vh #fff , 17vw 55vh #fff , 5vw 5vh #fff , 27vw 61vh #fff , 88vw 31vh #fff , 53vw 2vh #fff , 140vw 20vh #fff , 156vw 68vh #fff , 74vw 42vh #fff , 17vw 13vh #fff , 31vw 93vh #fff , 140vw 96vh #fff , 45vw 54vh #fff , 84vw 43vh #fff , 56vw 72vh #fff , 17vw 19vh #fff , 27vw 70vh #fff , 70vw 42vh #fff , 50vw 57vh #fff , 195vw 61vh #fff , 24vw 6vh #fff , 121vw 17vh #fff , 28vw 83vh #fff , 92vw 65vh #fff , 30vw 13vh #fff , 101vw 24vh #fff , 190vw 8vh #fff , 96vw 62vh #fff , 192vw 22vh #fff , 165vw 49vh #fff , 156vw 29vh #fff , 178vw 48vh #fff , 28vw 14vh #fff , 16vw 10vh #fff , 122vw 45vh #fff , 65vw 10vh #fff , 88vw 57vh #fff , 188vw 34vh #fff , 54vw 27vh #fff , 122vw 15vh #fff , 69vw 57vh #fff , 179vw 5vh #fff , 165vw 68vh #fff , 167vw 84vh #fff , 142vw 29vh #fff , 4vw 54vh #fff , 19vw 29vh #fff , 48vw 16vh #fff , 174vw 35vh #fff , 168vw 86vh #fff , 101vw 39vh #fff , 175vw 47vh #fff , 152vw 64vh #fff , 6vw 39vh #fff , 182vw 44vh #fff , 138vw 33vh #fff , 51vw 7vh #fff , 15vw 34vh #fff , 188vw 96vh #fff , 57vw 42vh #fff , 14vw 27vh #fff , 94vw 3vh #fff , 130vw 68vh #fff , 140vw 92vh #fff , 161vw 85vh #fff , 64vw 25vh #fff , 59vw 68vh #fff , 100vw 37vh #fff , 156vw 89vh #fff , 149vw 62vh #fff , 74vw 70vh #fff , 98vw 53vh #fff , 127vw 11vh #fff , 95vw 84vh #fff , 97vw 41vh #fff , 186vw 7vh #fff , 47vw 12vh #fff , 135vw 36vh #fff , 104vw 14vh #fff , 19vw 81vh #fff , 39vw 86vh #fff , 10vw 16vh #fff , 20vw 6vh #fff , 152vw 28vh #fff , 143vw 70vh #fff , 33vw 2vh #fff , 190vw 60vh #fff , 97vw 21vh #fff , 49vw 85vh #fff , 161vw 98vh #fff , 138vw 60vh #fff , 87vw 42vh #fff , 36vw 99vh #fff , 135vw 99vh #fff , 164vw 54vh #fff , 94vw 47vh #fff , 102vw 93vh #fff , 90vw 92vh #fff , 132vw 73vh #fff , 135vw 76vh #fff , 32vw 35vh #fff , 83vw 32vh #fff , 7vw 36vh #fff , 187vw 62vh #fff , 125vw 91vh #fff , 16vw 5vh #fff , 65vw 95vh #fff , 103vw 88vh #fff , 61vw 42vh #fff , 132vw 92vh #fff , 129vw 25vh #fff , 39vw 86vh #fff , 61vw 29vh #fff , 123vw 46vh #fff , 53vw 62vh #fff , 154vw 93vh #fff , 142vw 18vh #fff , 164vw 80vh #fff , 163vw 44vh #fff , 200vw 13vh #fff , 47vw 65vh #fff , 46vw 41vh #fff , 100vw 54vh #fff , 56vw 3vh #fff , 79vw 87vh #fff , 27vw 95vh #fff , 184vw 1vh #fff , 32vw 36vh #fff , 31vw 12vh #fff , 41vw 83vh #fff , 156vw 55vh #fff , 67vw 57vh #fff , 124vw 19vh #fff , 165vw 53vh #fff , 4vw 2vh #fff , 116vw 27vh #fff , 41vw 93vh #fff , 194vw 10vh #fff , 90vw 21vh #fff , 144vw 87vh #fff , 21vw 25vh #fff , 46vw 15vh #fff , 68vw 20vh #fff , 2vw 47vh #fff , 76vw 21vh #fff , 14vw 76vh #fff , 143vw 77vh #fff , 46vw 29vh #fff , 69vw 82vh #fff , 111vw 14vh #fff , 152vw 82vh #fff , 121vw 22vh #fff , 199vw 35vh #fff , 132vw 99vh #fff , 30vw 96vh #fff , 63vw 90vh #fff , 118vw 52vh #fff , 84vw 6vh #fff , 72vw 29vh #fff , 178vw 6vh #fff , 17vw 11vh #fff , 3vw 92vh #fff , 19vw 43vh #fff , 145vw 53vh #fff , 137vw 49vh #fff , 187vw 10vh #fff , 95vw 63vh #fff , 23vw 78vh #fff , 152vw 93vh #fff , 151vw 21vh #fff , 63vw 97vh #fff , 62vw 69vh #fff , 77vw 2vh #fff , 196vw 76vh #fff , 103vw 85vh #fff , 131vw 44vh #fff , 81vw 28vh #fff , 32vw 93vh #fff , 176vw 44vh #fff , 101vw 89vh #fff , 160vw 68vh #fff , 61vw 98vh #fff , 126vw 35vh #fff , 42vw 28vh #fff , 112vw 44vh #fff , 66vw 97vh #fff , 189vw 61vh #fff , 61vw 26vh #fff , 197vw 67vh #fff , 134vw 64vh #fff , 4vw 100vh #fff , 90vw 82vh #fff , 31vw 35vh #fff , 76vw 35vh #fff , 38vw 18vh #fff , 186vw 27vh #fff , 13vw 36vh #fff , 65vw 90vh #fff , 41vw 28vh #fff , 106vw 2vh #fff , 69vw 39vh #fff , 177vw 74vh #fff , 8vw 58vh #fff , 67vw 59vh #fff , 41vw 78vh #fff , 72vw 50vh #fff , 173vw 39vh #fff , 79vw 51vh #fff , 90vw 49vh #fff , 61vw 9vh #fff;
          box-shadow: 102vw 59vh #fff , 146vw 47vh #fff , 64vw 55vh #fff , 134vw 82vh #fff , 6vw 57vh #fff , 51vw 56vh #fff , 33vw 28vh #fff , 149vw 94vh #fff , 51vw 17vh #fff , 196vw 54vh #fff , 9vw 54vh #fff , 20vw 70vh #fff , 89vw 94vh #fff , 157vw 71vh #fff , 118vw 89vh #fff , 7vw 35vh #fff , 179vw 38vh #fff , 152vw 33vh #fff , 106vw 25vh #fff , 125vw 32vh #fff , 90vw 61vh #fff , 24vw 99vh #fff , 18vw 97vh #fff , 128vw 61vh #fff , 46vw 77vh #fff , 175vw 11vh #fff , 192vw 94vh #fff , 77vw 82vh #fff , 153vw 1vh #fff , 94vw 70vh #fff , 79vw 60vh #fff , 10vw 74vh #fff , 131vw 41vh #fff , 23vw 49vh #fff , 44vw 47vh #fff , 150vw 66vh #fff , 160vw 3vh #fff , 1vw 82vh #fff , 190vw 89vh #fff , 107vw 67vh #fff , 87vw 23vh #fff , 187vw 81vh #fff , 198vw 2vh #fff , 9vw 54vh #fff , 50vw 13vh #fff , 155vw 37vh #fff , 77vw 57vh #fff , 138vw 65vh #fff , 147vw 36vh #fff , 184vw 93vh #fff , 9vw 30vh #fff , 164vw 65vh #fff , 77vw 63vh #fff , 135vw 30vh #fff , 165vw 4vh #fff , 171vw 54vh #fff , 165vw 87vh #fff , 8vw 9vh #fff , 166vw 39vh #fff , 40vw 69vh #fff , 73vw 33vh #fff , 160vw 42vh #fff , 7vw 95vh #fff , 196vw 43vh #fff , 199vw 57vh #fff , 7vw 34vh #fff , 168vw 82vh #fff , 67vw 60vh #fff , 12vw 79vh #fff , 92vw 30vh #fff , 141vw 35vh #fff , 102vw 83vh #fff , 45vw 54vh #fff , 166vw 80vh #fff , 1vw 55vh #fff , 63vw 84vh #fff , 1vw 65vh #fff , 111vw 20vh #fff , 115vw 32vh #fff , 170vw 89vh #fff , 58vw 34vh #fff , 150vw 1vh #fff , 23vw 46vh #fff , 120vw 8vh #fff , 59vw 81vh #fff , 22vw 20vh #fff , 71vw 90vh #fff , 2vw 99vh #fff , 168vw 99vh #fff , 186vw 86vh #fff , 57vw 92vh #fff , 65vw 76vh #fff , 80vw 30vh #fff , 185vw 17vh #fff , 31vw 58vh #fff , 116vw 21vh #fff , 35vw 91vh #fff , 71vw 35vh #fff , 49vw 99vh #fff , 17vw 45vh #fff , 33vw 43vh #fff , 90vw 5vh #fff , 95vw 63vh #fff , 44vw 26vh #fff , 140vw 2vh #fff , 174vw 76vh #fff , 106vw 72vh #fff , 65vw 80vh #fff , 71vw 5vh #fff , 129vw 91vh #fff , 108vw 74vh #fff , 176vw 71vh #fff , 170vw 88vh #fff , 70vw 59vh #fff , 22vw 71vh #fff , 168vw 17vh #fff , 24vw 75vh #fff , 12vw 8vh #fff , 50vw 41vh #fff , 120vw 17vh #fff , 36vw 72vh #fff , 44vw 63vh #fff , 119vw 37vh #fff , 150vw 22vh #fff , 192vw 75vh #fff , 47vw 55vh #fff , 83vw 83vh #fff , 18vw 4vh #fff , 182vw 8vh #fff , 186vw 27vh #fff , 145vw 55vh #fff , 48vw 27vh #fff , 69vw 28vh #fff , 74vw 86vh #fff , 129vw 81vh #fff , 19vw 54vh #fff , 131vw 32vh #fff , 73vw 33vh #fff , 51vw 16vh #fff , 103vw 92vh #fff , 193vw 30vh #fff , 104vw 60vh #fff , 110vw 72vh #fff , 172vw 26vh #fff , 21vw 34vh #fff , 106vw 39vh #fff , 110vw 43vh #fff , 121vw 56vh #fff , 90vw 37vh #fff , 27vw 51vh #fff , 73vw 66vh #fff , 119vw 82vh #fff , 17vw 92vh #fff , 79vw 35vh #fff , 47vw 91vh #fff , 71vw 92vh #fff , 156vw 98vh #fff , 139vw 52vh #fff , 85vw 45vh #fff , 64vw 81vh #fff , 68vw 10vh #fff , 10vw 12vh #fff , 37vw 32vh #fff , 131vw 4vh #fff , 115vw 96vh #fff , 11vw 92vh #fff , 142vw 30vh #fff , 173vw 69vh #fff , 92vw 81vh #fff , 85vw 86vh #fff , 119vw 32vh #fff , 184vw 33vh #fff , 143vw 77vh #fff , 154vw 61vh #fff , 63vw 14vh #fff , 180vw 18vh #fff , 174vw 74vh #fff , 19vw 8vh #fff , 124vw 100vh #fff , 180vw 82vh #fff , 106vw 33vh #fff , 10vw 100vh #fff , 123vw 16vh #fff , 134vw 76vh #fff , 129vw 20vh #fff , 163vw 45vh #fff , 19vw 70vh #fff , 92vw 25vh #fff , 102vw 3vh #fff , 96vw 92vh #fff , 19vw 15vh #fff , 49vw 19vh #fff , 82vw 29vh #fff , 181vw 62vh #fff , 83vw 44vh #fff , 137vw 35vh #fff , 126vw 98vh #fff , 9vw 9vh #fff , 109vw 80vh #fff , 36vw 39vh #fff , 11vw 29vh #fff , 187vw 96vh #fff , 179vw 27vh #fff , 153vw 8vh #fff , 179vw 14vh #fff , 38vw 43vh #fff , 83vw 65vh #fff , 107vw 100vh #fff , 164vw 93vh #fff , 46vw 36vh #fff , 61vw 22vh #fff , 105vw 69vh #fff , 160vw 13vh #fff , 126vw 20vh #fff , 28vw 28vh #fff , 53vw 85vh #fff , 91vw 81vh #fff , 62vw 90vh #fff , 41vw 91vh #fff , 199vw 29vh #fff , 125vw 15vh #fff , 180vw 67vh #fff , 119vw 78vh #fff , 26vw 30vh #fff , 75vw 53vh #fff , 199vw 100vh #fff , 138vw 11vh #fff , 192vw 82vh #fff , 17vw 90vh #fff , 159vw 84vh #fff , 141vw 50vh #fff , 84vw 82vh #fff , 78vw 94vh #fff , 36vw 13vh #fff , 71vw 26vh #fff , 182vw 26vh #fff , 132vw 70vh #fff , 175vw 30vh #fff , 56vw 55vh #fff , 183vw 78vh #fff , 64vw 84vh #fff , 108vw 18vh #fff , 151vw 41vh #fff , 151vw 25vh #fff , 20vw 75vh #fff , 136vw 93vh #fff , 135vw 37vh #fff , 119vw 99vh #fff , 1vw 85vh #fff , 184vw 44vh #fff , 34vw 17vh #fff , 60vw 68vh #fff , 45vw 22vh #fff , 82vw 67vh #fff , 160vw 66vh #fff , 194vw 45vh #fff , 177vw 63vh #fff , 97vw 57vh #fff , 149vw 25vh #fff , 38vw 4vh #fff , 69vw 20vh #fff , 160vw 73vh #fff , 164vw 59vh #fff , 29vw 34vh #fff , 120vw 35vh #fff , 44vw 4vh #fff , 184vw 28vh #fff , 83vw 55vh #fff , 30vw 89vh #fff , 92vw 83vh #fff , 170vw 50vh #fff , 74vw 39vh #fff , 194vw 81vh #fff , 76vw 10vh #fff , 39vw 46vh #fff , 34vw 63vh #fff , 140vw 19vh #fff , 65vw 6vh #fff , 177vw 88vh #fff , 174vw 99vh #fff , 176vw 97vh #fff , 176vw 3vh #fff , 125vw 71vh #fff , 7vw 73vh #fff , 114vw 91vh #fff , 160vw 90vh #fff , 186vw 42vh #fff , 104vw 45vh #fff , 105vw 88vh #fff , 85vw 66vh #fff , 112vw 40vh #fff , 125vw 18vh #fff , 95vw 100vh #fff , 20vw 13vh #fff , 151vw 11vh #fff , 71vw 96vh #fff , 169vw 63vh #fff , 122vw 69vh #fff , 69vw 20vh #fff , 34vw 73vh #fff , 18vw 43vh #fff , 183vw 62vh #fff , 3vw 32vh #fff , 128vw 74vh #fff , 21vw 100vh #fff , 48vw 29vh #fff , 67vw 31vh #fff , 163vw 72vh #fff , 171vw 42vh #fff , 36vw 80vh #fff , 169vw 63vh #fff , 147vw 55vh #fff , 146vw 47vh #fff , 61vw 58vh #fff , 129vw 47vh #fff , 45vw 7vh #fff , 175vw 74vh #fff , 29vw 60vh #fff , 46vw 37vh #fff , 80vw 37vh #fff , 196vw 94vh #fff , 52vw 57vh #fff , 156vw 75vh #fff , 63vw 96vh #fff , 182vw 30vh #fff , 50vw 82vh #fff , 98vw 22vh #fff , 58vw 12vh #fff , 11vw 13vh #fff , 149vw 57vh #fff , 106vw 48vh #fff , 146vw 87vh #fff , 30vw 61vh #fff , 5vw 30vh #fff , 198vw 52vh #fff , 129vw 77vh #fff , 50vw 73vh #fff , 164vw 14vh #fff , 128vw 4vh #fff , 149vw 31vh #fff , 165vw 71vh #fff , 99vw 63vh #fff , 64vw 70vh #fff , 52vw 79vh #fff , 130vw 41vh #fff , 191vw 25vh #fff , 110vw 38vh #fff , 63vw 17vh #fff , 37vw 49vh #fff , 54vw 39vh #fff , 120vw 3vh #fff , 119vw 40vh #fff , 151vw 41vh #fff , 39vw 81vh #fff , 5vw 56vh #fff , 32vw 44vh #fff , 159vw 67vh #fff , 138vw 41vh #fff , 133vw 51vh #fff , 42vw 12vh #fff , 19vw 44vh #fff , 130vw 68vh #fff , 11vw 85vh #fff , 186vw 19vh #fff , 70vw 88vh #fff , 103vw 6vh #fff , 172vw 17vh #fff , 57vw 8vh #fff , 43vw 100vh #fff , 194vw 79vh #fff , 42vw 95vh #fff , 38vw 69vh #fff , 1vw 46vh #fff , 40vw 96vh #fff , 148vw 63vh #fff , 199vw 47vh #fff , 84vw 22vh #fff , 10vw 21vh #fff , 163vw 94vh #fff , 137vw 98vh #fff , 95vw 76vh #fff , 83vw 13vh #fff , 130vw 64vh #fff , 35vw 15vh #fff , 2vw 26vh #fff , 48vw 47vh #fff , 136vw 5vh #fff , 182vw 41vh #fff , 175vw 98vh #fff , 92vw 99vh #fff , 44vw 37vh #fff , 108vw 34vh #fff , 30vw 40vh #fff , 180vw 2vh #fff , 53vw 7vh #fff , 9vw 24vh #fff , 150vw 97vh #fff , 149vw 53vh #fff , 127vw 46vh #fff , 124vw 36vh #fff , 93vw 88vh #fff , 25vw 82vh #fff , 65vw 35vh #fff , 110vw 99vh #fff , 89vw 23vh #fff , 17vw 28vh #fff , 94vw 66vh #fff , 81vw 70vh #fff , 141vw 59vh #fff , 39vw 69vh #fff , 123vw 94vh #fff , 184vw 4vh #fff , 80vw 27vh #fff , 81vw 30vh #fff , 153vw 50vh #fff , 168vw 70vh #fff , 60vw 58vh #fff , 119vw 47vh #fff , 11vw 38vh #fff , 10vw 81vh #fff , 162vw 2vh #fff , 160vw 67vh #fff , 52vw 25vh #fff , 130vw 98vh #fff , 169vw 49vh #fff , 93vw 30vh #fff , 91vw 27vh #fff , 119vw 27vh #fff , 7vw 28vh #fff , 29vw 3vh #fff , 100vw 46vh #fff , 6vw 63vh #fff , 32vw 17vh #fff , 151vw 67vh #fff , 64vw 71vh #fff , 82vw 73vh #fff , 174vw 44vh #fff , 81vw 42vh #fff , 198vw 50vh #fff , 179vw 47vh #fff , 85vw 15vh #fff , 174vw 47vh #fff , 110vw 14vh #fff , 127vw 7vh #fff , 59vw 82vh #fff , 67vw 95vh #fff , 53vw 32vh #fff , 137vw 85vh #fff , 155vw 30vh #fff , 26vw 57vh #fff , 84vw 34vh #fff , 2vw 55vh #fff , 21vw 39vh #fff , 141vw 63vh #fff , 115vw 99vh #fff , 119vw 53vh #fff , 3vw 26vh #fff , 3vw 27vh #fff , 7vw 54vh #fff , 148vw 80vh #fff , 104vw 85vh #fff , 65vw 15vh #fff , 143vw 53vh #fff , 194vw 75vh #fff , 80vw 44vh #fff , 65vw 13vh #fff , 39vw 97vh #fff , 4vw 21vh #fff , 24vw 57vh #fff , 196vw 37vh #fff , 27vw 29vh #fff , 150vw 47vh #fff , 83vw 93vh #fff , 58vw 66vh #fff , 35vw 58vh #fff , 54vw 24vh #fff , 146vw 56vh #fff , 38vw 63vh #fff , 62vw 65vh #fff , 200vw 43vh #fff , 51vw 70vh #fff , 160vw 50vh #fff , 85vw 77vh #fff , 114vw 55vh #fff , 34vw 72vh #fff , 148vw 45vh #fff , 152vw 58vh #fff , 69vw 59vh #fff , 26vw 54vh #fff , 25vw 89vh #fff , 19vw 47vh #fff , 17vw 55vh #fff , 5vw 5vh #fff , 27vw 61vh #fff , 88vw 31vh #fff , 53vw 2vh #fff , 140vw 20vh #fff , 156vw 68vh #fff , 74vw 42vh #fff , 17vw 13vh #fff , 31vw 93vh #fff , 140vw 96vh #fff , 45vw 54vh #fff , 84vw 43vh #fff , 56vw 72vh #fff , 17vw 19vh #fff , 27vw 70vh #fff , 70vw 42vh #fff , 50vw 57vh #fff , 195vw 61vh #fff , 24vw 6vh #fff , 121vw 17vh #fff , 28vw 83vh #fff , 92vw 65vh #fff , 30vw 13vh #fff , 101vw 24vh #fff , 190vw 8vh #fff , 96vw 62vh #fff , 192vw 22vh #fff , 165vw 49vh #fff , 156vw 29vh #fff , 178vw 48vh #fff , 28vw 14vh #fff , 16vw 10vh #fff , 122vw 45vh #fff , 65vw 10vh #fff , 88vw 57vh #fff , 188vw 34vh #fff , 54vw 27vh #fff , 122vw 15vh #fff , 69vw 57vh #fff , 179vw 5vh #fff , 165vw 68vh #fff , 167vw 84vh #fff , 142vw 29vh #fff , 4vw 54vh #fff , 19vw 29vh #fff , 48vw 16vh #fff , 174vw 35vh #fff , 168vw 86vh #fff , 101vw 39vh #fff , 175vw 47vh #fff , 152vw 64vh #fff , 6vw 39vh #fff , 182vw 44vh #fff , 138vw 33vh #fff , 51vw 7vh #fff , 15vw 34vh #fff , 188vw 96vh #fff , 57vw 42vh #fff , 14vw 27vh #fff , 94vw 3vh #fff , 130vw 68vh #fff , 140vw 92vh #fff , 161vw 85vh #fff , 64vw 25vh #fff , 59vw 68vh #fff , 100vw 37vh #fff , 156vw 89vh #fff , 149vw 62vh #fff , 74vw 70vh #fff , 98vw 53vh #fff , 127vw 11vh #fff , 95vw 84vh #fff , 97vw 41vh #fff , 186vw 7vh #fff , 47vw 12vh #fff , 135vw 36vh #fff , 104vw 14vh #fff , 19vw 81vh #fff , 39vw 86vh #fff , 10vw 16vh #fff , 20vw 6vh #fff , 152vw 28vh #fff , 143vw 70vh #fff , 33vw 2vh #fff , 190vw 60vh #fff , 97vw 21vh #fff , 49vw 85vh #fff , 161vw 98vh #fff , 138vw 60vh #fff , 87vw 42vh #fff , 36vw 99vh #fff , 135vw 99vh #fff , 164vw 54vh #fff , 94vw 47vh #fff , 102vw 93vh #fff , 90vw 92vh #fff , 132vw 73vh #fff , 135vw 76vh #fff , 32vw 35vh #fff , 83vw 32vh #fff , 7vw 36vh #fff , 187vw 62vh #fff , 125vw 91vh #fff , 16vw 5vh #fff , 65vw 95vh #fff , 103vw 88vh #fff , 61vw 42vh #fff , 132vw 92vh #fff , 129vw 25vh #fff , 39vw 86vh #fff , 61vw 29vh #fff , 123vw 46vh #fff , 53vw 62vh #fff , 154vw 93vh #fff , 142vw 18vh #fff , 164vw 80vh #fff , 163vw 44vh #fff , 200vw 13vh #fff , 47vw 65vh #fff , 46vw 41vh #fff , 100vw 54vh #fff , 56vw 3vh #fff , 79vw 87vh #fff , 27vw 95vh #fff , 184vw 1vh #fff , 32vw 36vh #fff , 31vw 12vh #fff , 41vw 83vh #fff , 156vw 55vh #fff , 67vw 57vh #fff , 124vw 19vh #fff , 165vw 53vh #fff , 4vw 2vh #fff , 116vw 27vh #fff , 41vw 93vh #fff , 194vw 10vh #fff , 90vw 21vh #fff , 144vw 87vh #fff , 21vw 25vh #fff , 46vw 15vh #fff , 68vw 20vh #fff , 2vw 47vh #fff , 76vw 21vh #fff , 14vw 76vh #fff , 143vw 77vh #fff , 46vw 29vh #fff , 69vw 82vh #fff , 111vw 14vh #fff , 152vw 82vh #fff , 121vw 22vh #fff , 199vw 35vh #fff , 132vw 99vh #fff , 30vw 96vh #fff , 63vw 90vh #fff , 118vw 52vh #fff , 84vw 6vh #fff , 72vw 29vh #fff , 178vw 6vh #fff , 17vw 11vh #fff , 3vw 92vh #fff , 19vw 43vh #fff , 145vw 53vh #fff , 137vw 49vh #fff , 187vw 10vh #fff , 95vw 63vh #fff , 23vw 78vh #fff , 152vw 93vh #fff , 151vw 21vh #fff , 63vw 97vh #fff , 62vw 69vh #fff , 77vw 2vh #fff , 196vw 76vh #fff , 103vw 85vh #fff , 131vw 44vh #fff , 81vw 28vh #fff , 32vw 93vh #fff , 176vw 44vh #fff , 101vw 89vh #fff , 160vw 68vh #fff , 61vw 98vh #fff , 126vw 35vh #fff , 42vw 28vh #fff , 112vw 44vh #fff , 66vw 97vh #fff , 189vw 61vh #fff , 61vw 26vh #fff , 197vw 67vh #fff , 134vw 64vh #fff , 4vw 100vh #fff , 90vw 82vh #fff , 31vw 35vh #fff , 76vw 35vh #fff , 38vw 18vh #fff , 186vw 27vh #fff , 13vw 36vh #fff , 65vw 90vh #fff , 41vw 28vh #fff , 106vw 2vh #fff , 69vw 39vh #fff , 177vw 74vh #fff , 8vw 58vh #fff , 67vw 59vh #fff , 41vw 78vh #fff , 72vw 50vh #fff , 173vw 39vh #fff , 79vw 51vh #fff , 90vw 49vh #fff , 61vw 9vh #fff;
  -webkit-animation: star_move 100s linear infinite;
          animation: star_move 100s linear infinite;
}

.stars #stars2 {
  width: 2px;
  height: 2px;
  background-color: #fff;
  -webkit-box-shadow: 44vw 74vh #fff , 170vw 81vh #fff , 194vw 90vh #fff , 30vw 10vh #fff , 141vw 80vh #fff , 113vw 42vh #fff , 2vw 96vh #fff , 94vw 63vh #fff , 118vw 3vh #fff , 93vw 84vh #fff , 77vw 30vh #fff , 134vw 29vh #fff , 51vw 80vh #fff , 111vw 60vh #fff , 84vw 20vh #fff , 167vw 66vh #fff , 89vw 41vh #fff , 190vw 9vh #fff , 199vw 90vh #fff , 94vw 1vh #fff , 64vw 2vh #fff , 66vw 31vh #fff , 123vw 55vh #fff , 197vw 48vh #fff , 77vw 55vh #fff , 31vw 27vh #fff , 34vw 55vh #fff , 107vw 62vh #fff , 124vw 1vh #fff , 36vw 64vh #fff , 139vw 50vh #fff , 151vw 46vh #fff , 27vw 50vh #fff , 193vw 19vh #fff , 125vw 31vh #fff , 7vw 85vh #fff , 16vw 38vh #fff , 8vw 77vh #fff , 144vw 38vh #fff , 70vw 59vh #fff , 136vw 49vh #fff , 115vw 64vh #fff , 3vw 57vh #fff , 83vw 15vh #fff , 186vw 16vh #fff , 67vw 44vh #fff , 172vw 25vh #fff , 199vw 94vh #fff , 49vw 92vh #fff , 66vw 12vh #fff , 161vw 20vh #fff , 6vw 44vh #fff , 118vw 4vh #fff , 104vw 71vh #fff , 84vw 19vh #fff , 60vw 53vh #fff , 7vw 39vh #fff , 190vw 54vh #fff , 19vw 52vh #fff , 123vw 63vh #fff , 175vw 57vh #fff , 117vw 10vh #fff , 26vw 62vh #fff , 50vw 17vh #fff , 108vw 59vh #fff , 21vw 34vh #fff , 9vw 39vh #fff , 117vw 18vh #fff , 44vw 5vh #fff , 152vw 70vh #fff , 58vw 7vh #fff , 140vw 62vh #fff , 22vw 62vh #fff , 157vw 81vh #fff , 185vw 21vh #fff , 113vw 56vh #fff , 135vw 5vh #fff , 162vw 75vh #fff , 56vw 42vh #fff , 183vw 55vh #fff , 193vw 80vh #fff , 174vw 84vh #fff , 167vw 15vh #fff , 73vw 4vh #fff , 184vw 73vh #fff , 172vw 10vh #fff , 1vw 50vh #fff , 176vw 77vh #fff , 30vw 89vh #fff , 164vw 35vh #fff , 177vw 90vh #fff , 113vw 37vh #fff , 149vw 97vh #fff , 58vw 56vh #fff , 154vw 65vh #fff , 165vw 23vh #fff , 17vw 76vh #fff , 83vw 99vh #fff , 54vw 18vh #fff , 91vw 36vh #fff , 157vw 33vh #fff , 4vw 63vh #fff , 140vw 52vh #fff , 160vw 61vh #fff , 32vw 88vh #fff , 119vw 14vh #fff , 94vw 30vh #fff , 124vw 41vh #fff , 68vw 31vh #fff , 68vw 99vh #fff , 37vw 44vh #fff , 44vw 51vh #fff , 17vw 72vh #fff , 42vw 26vh #fff , 10vw 3vh #fff , 75vw 44vh #fff , 178vw 91vh #fff , 58vw 86vh #fff , 22vw 71vh #fff , 175vw 52vh #fff , 119vw 37vh #fff , 144vw 17vh #fff , 116vw 86vh #fff , 42vw 96vh #fff , 27vw 18vh #fff , 184vw 94vh #fff , 100vw 28vh #fff , 91vw 18vh #fff , 6vw 52vh #fff , 1vw 30vh #fff , 65vw 94vh #fff , 80vw 39vh #fff , 53vw 32vh #fff , 117vw 53vh #fff , 194vw 26vh #fff , 125vw 55vh #fff , 18vw 52vh #fff , 65vw 76vh #fff , 139vw 89vh #fff , 37vw 46vh #fff , 2vw 64vh #fff , 106vw 89vh #fff , 18vw 71vh #fff , 11vw 60vh #fff , 132vw 58vh #fff , 28vw 93vh #fff , 189vw 32vh #fff , 164vw 91vh #fff , 123vw 49vh #fff , 119vw 41vh #fff , 94vw 8vh #fff , 12vw 100vh #fff , 9vw 92vh #fff , 82vw 53vh #fff , 45vw 90vh #fff , 184vw 22vh #fff , 81vw 88vh #fff , 87vw 97vh #fff , 177vw 82vh #fff , 11vw 13vh #fff , 46vw 87vh #fff , 11vw 23vh #fff , 169vw 97vh #fff , 49vw 83vh #fff , 97vw 65vh #fff , 60vw 71vh #fff , 99vw 97vh #fff , 24vw 13vh #fff , 185vw 42vh #fff , 120vw 81vh #fff , 195vw 42vh #fff , 67vw 82vh #fff , 188vw 92vh #fff , 33vw 96vh #fff , 128vw 77vh #fff , 184vw 15vh #fff , 28vw 77vh #fff , 85vw 86vh #fff , 133vw 26vh #fff , 118vw 37vh #fff , 185vw 65vh #fff , 77vw 84vh #fff , 38vw 7vh #fff , 23vw 84vh #fff , 155vw 61vh #fff , 149vw 75vh #fff , 196vw 68vh #fff , 74vw 32vh #fff , 4vw 67vh #fff , 81vw 89vh #fff , 35vw 79vh #fff , 79vw 72vh #fff , 5vw 66vh #fff , 102vw 45vh #fff , 44vw 61vh #fff , 95vw 86vh #fff , 136vw 92vh #fff , 189vw 90vh #fff , 86vw 70vh #fff , 104vw 88vh #fff;
          box-shadow: 44vw 74vh #fff , 170vw 81vh #fff , 194vw 90vh #fff , 30vw 10vh #fff , 141vw 80vh #fff , 113vw 42vh #fff , 2vw 96vh #fff , 94vw 63vh #fff , 118vw 3vh #fff , 93vw 84vh #fff , 77vw 30vh #fff , 134vw 29vh #fff , 51vw 80vh #fff , 111vw 60vh #fff , 84vw 20vh #fff , 167vw 66vh #fff , 89vw 41vh #fff , 190vw 9vh #fff , 199vw 90vh #fff , 94vw 1vh #fff , 64vw 2vh #fff , 66vw 31vh #fff , 123vw 55vh #fff , 197vw 48vh #fff , 77vw 55vh #fff , 31vw 27vh #fff , 34vw 55vh #fff , 107vw 62vh #fff , 124vw 1vh #fff , 36vw 64vh #fff , 139vw 50vh #fff , 151vw 46vh #fff , 27vw 50vh #fff , 193vw 19vh #fff , 125vw 31vh #fff , 7vw 85vh #fff , 16vw 38vh #fff , 8vw 77vh #fff , 144vw 38vh #fff , 70vw 59vh #fff , 136vw 49vh #fff , 115vw 64vh #fff , 3vw 57vh #fff , 83vw 15vh #fff , 186vw 16vh #fff , 67vw 44vh #fff , 172vw 25vh #fff , 199vw 94vh #fff , 49vw 92vh #fff , 66vw 12vh #fff , 161vw 20vh #fff , 6vw 44vh #fff , 118vw 4vh #fff , 104vw 71vh #fff , 84vw 19vh #fff , 60vw 53vh #fff , 7vw 39vh #fff , 190vw 54vh #fff , 19vw 52vh #fff , 123vw 63vh #fff , 175vw 57vh #fff , 117vw 10vh #fff , 26vw 62vh #fff , 50vw 17vh #fff , 108vw 59vh #fff , 21vw 34vh #fff , 9vw 39vh #fff , 117vw 18vh #fff , 44vw 5vh #fff , 152vw 70vh #fff , 58vw 7vh #fff , 140vw 62vh #fff , 22vw 62vh #fff , 157vw 81vh #fff , 185vw 21vh #fff , 113vw 56vh #fff , 135vw 5vh #fff , 162vw 75vh #fff , 56vw 42vh #fff , 183vw 55vh #fff , 193vw 80vh #fff , 174vw 84vh #fff , 167vw 15vh #fff , 73vw 4vh #fff , 184vw 73vh #fff , 172vw 10vh #fff , 1vw 50vh #fff , 176vw 77vh #fff , 30vw 89vh #fff , 164vw 35vh #fff , 177vw 90vh #fff , 113vw 37vh #fff , 149vw 97vh #fff , 58vw 56vh #fff , 154vw 65vh #fff , 165vw 23vh #fff , 17vw 76vh #fff , 83vw 99vh #fff , 54vw 18vh #fff , 91vw 36vh #fff , 157vw 33vh #fff , 4vw 63vh #fff , 140vw 52vh #fff , 160vw 61vh #fff , 32vw 88vh #fff , 119vw 14vh #fff , 94vw 30vh #fff , 124vw 41vh #fff , 68vw 31vh #fff , 68vw 99vh #fff , 37vw 44vh #fff , 44vw 51vh #fff , 17vw 72vh #fff , 42vw 26vh #fff , 10vw 3vh #fff , 75vw 44vh #fff , 178vw 91vh #fff , 58vw 86vh #fff , 22vw 71vh #fff , 175vw 52vh #fff , 119vw 37vh #fff , 144vw 17vh #fff , 116vw 86vh #fff , 42vw 96vh #fff , 27vw 18vh #fff , 184vw 94vh #fff , 100vw 28vh #fff , 91vw 18vh #fff , 6vw 52vh #fff , 1vw 30vh #fff , 65vw 94vh #fff , 80vw 39vh #fff , 53vw 32vh #fff , 117vw 53vh #fff , 194vw 26vh #fff , 125vw 55vh #fff , 18vw 52vh #fff , 65vw 76vh #fff , 139vw 89vh #fff , 37vw 46vh #fff , 2vw 64vh #fff , 106vw 89vh #fff , 18vw 71vh #fff , 11vw 60vh #fff , 132vw 58vh #fff , 28vw 93vh #fff , 189vw 32vh #fff , 164vw 91vh #fff , 123vw 49vh #fff , 119vw 41vh #fff , 94vw 8vh #fff , 12vw 100vh #fff , 9vw 92vh #fff , 82vw 53vh #fff , 45vw 90vh #fff , 184vw 22vh #fff , 81vw 88vh #fff , 87vw 97vh #fff , 177vw 82vh #fff , 11vw 13vh #fff , 46vw 87vh #fff , 11vw 23vh #fff , 169vw 97vh #fff , 49vw 83vh #fff , 97vw 65vh #fff , 60vw 71vh #fff , 99vw 97vh #fff , 24vw 13vh #fff , 185vw 42vh #fff , 120vw 81vh #fff , 195vw 42vh #fff , 67vw 82vh #fff , 188vw 92vh #fff , 33vw 96vh #fff , 128vw 77vh #fff , 184vw 15vh #fff , 28vw 77vh #fff , 85vw 86vh #fff , 133vw 26vh #fff , 118vw 37vh #fff , 185vw 65vh #fff , 77vw 84vh #fff , 38vw 7vh #fff , 23vw 84vh #fff , 155vw 61vh #fff , 149vw 75vh #fff , 196vw 68vh #fff , 74vw 32vh #fff , 4vw 67vh #fff , 81vw 89vh #fff , 35vw 79vh #fff , 79vw 72vh #fff , 5vw 66vh #fff , 102vw 45vh #fff , 44vw 61vh #fff , 95vw 86vh #fff , 136vw 92vh #fff , 189vw 90vh #fff , 86vw 70vh #fff , 104vw 88vh #fff;
  -webkit-animation: star_move 50s linear infinite;
          animation: star_move 50s linear infinite;
}

.stars #stars3 {
  width: 3px;
  height: 3px;
  background-color: #fff;
  -webkit-box-shadow: 24vw 24vh #fff , 45vw 99vh #fff , 87vw 24vh #fff , 57vw 93vh #fff , 40vw 23vh #fff , 176vw 66vh #fff , 169vw 36vh #fff , 166vw 24vh #fff , 27vw 21vh #fff , 166vw 65vh #fff , 49vw 8vh #fff , 47vw 26vh #fff , 113vw 90vh #fff , 92vw 28vh #fff , 178vw 64vh #fff , 116vw 1vh #fff , 72vw 16vh #fff , 135vw 97vh #fff , 178vw 3vh #fff , 144vw 33vh #fff , 160vw 53vh #fff , 83vw 26vh #fff , 76vw 24vh #fff , 129vw 28vh #fff , 128vw 28vh #fff , 18vw 85vh #fff , 75vw 23vh #fff , 191vw 26vh #fff , 196vw 54vh #fff , 89vw 91vh #fff , 157vw 20vh #fff , 102vw 64vh #fff , 42vw 51vh #fff , 35vw 11vh #fff , 19vw 19vh #fff , 102vw 55vh #fff , 175vw 47vh #fff , 157vw 58vh #fff , 172vw 52vh #fff , 172vw 25vh #fff , 61vw 60vh #fff , 157vw 77vh #fff , 121vw 17vh #fff , 169vw 97vh #fff , 155vw 98vh #fff , 57vw 7vh #fff , 39vw 79vh #fff , 37vw 9vh #fff , 59vw 72vh #fff , 175vw 15vh #fff , 85vw 98vh #fff , 18vw 4vh #fff , 90vw 85vh #fff , 132vw 59vh #fff , 59vw 74vh #fff , 146vw 41vh #fff , 119vw 33vh #fff , 61vw 24vh #fff , 110vw 2vh #fff , 37vw 80vh #fff , 109vw 24vh #fff , 51vw 77vh #fff , 141vw 5vh #fff , 198vw 33vh #fff , 59vw 12vh #fff , 42vw 22vh #fff , 179vw 52vh #fff , 180vw 99vh #fff , 67vw 50vh #fff , 67vw 18vh #fff , 28vw 26vh #fff , 154vw 22vh #fff , 5vw 98vh #fff , 57vw 61vh #fff , 97vw 63vh #fff , 70vw 45vh #fff , 101vw 97vh #fff , 20vw 22vh #fff , 116vw 29vh #fff , 47vw 91vh #fff , 168vw 70vh #fff , 111vw 23vh #fff , 24vw 83vh #fff , 177vw 95vh #fff , 65vw 45vh #fff , 150vw 41vh #fff , 199vw 69vh #fff , 148vw 83vh #fff , 120vw 72vh #fff , 59vw 88vh #fff , 128vw 41vh #fff , 172vw 66vh #fff , 156vw 52vh #fff , 99vw 32vh #fff , 103vw 81vh #fff , 179vw 75vh #fff , 98vw 24vh #fff , 194vw 37vh #fff , 164vw 9vh #fff , 16vw 96vh #fff;
          box-shadow: 24vw 24vh #fff , 45vw 99vh #fff , 87vw 24vh #fff , 57vw 93vh #fff , 40vw 23vh #fff , 176vw 66vh #fff , 169vw 36vh #fff , 166vw 24vh #fff , 27vw 21vh #fff , 166vw 65vh #fff , 49vw 8vh #fff , 47vw 26vh #fff , 113vw 90vh #fff , 92vw 28vh #fff , 178vw 64vh #fff , 116vw 1vh #fff , 72vw 16vh #fff , 135vw 97vh #fff , 178vw 3vh #fff , 144vw 33vh #fff , 160vw 53vh #fff , 83vw 26vh #fff , 76vw 24vh #fff , 129vw 28vh #fff , 128vw 28vh #fff , 18vw 85vh #fff , 75vw 23vh #fff , 191vw 26vh #fff , 196vw 54vh #fff , 89vw 91vh #fff , 157vw 20vh #fff , 102vw 64vh #fff , 42vw 51vh #fff , 35vw 11vh #fff , 19vw 19vh #fff , 102vw 55vh #fff , 175vw 47vh #fff , 157vw 58vh #fff , 172vw 52vh #fff , 172vw 25vh #fff , 61vw 60vh #fff , 157vw 77vh #fff , 121vw 17vh #fff , 169vw 97vh #fff , 155vw 98vh #fff , 57vw 7vh #fff , 39vw 79vh #fff , 37vw 9vh #fff , 59vw 72vh #fff , 175vw 15vh #fff , 85vw 98vh #fff , 18vw 4vh #fff , 90vw 85vh #fff , 132vw 59vh #fff , 59vw 74vh #fff , 146vw 41vh #fff , 119vw 33vh #fff , 61vw 24vh #fff , 110vw 2vh #fff , 37vw 80vh #fff , 109vw 24vh #fff , 51vw 77vh #fff , 141vw 5vh #fff , 198vw 33vh #fff , 59vw 12vh #fff , 42vw 22vh #fff , 179vw 52vh #fff , 180vw 99vh #fff , 67vw 50vh #fff , 67vw 18vh #fff , 28vw 26vh #fff , 154vw 22vh #fff , 5vw 98vh #fff , 57vw 61vh #fff , 97vw 63vh #fff , 70vw 45vh #fff , 101vw 97vh #fff , 20vw 22vh #fff , 116vw 29vh #fff , 47vw 91vh #fff , 168vw 70vh #fff , 111vw 23vh #fff , 24vw 83vh #fff , 177vw 95vh #fff , 65vw 45vh #fff , 150vw 41vh #fff , 199vw 69vh #fff , 148vw 83vh #fff , 120vw 72vh #fff , 59vw 88vh #fff , 128vw 41vh #fff , 172vw 66vh #fff , 156vw 52vh #fff , 99vw 32vh #fff , 103vw 81vh #fff , 179vw 75vh #fff , 98vw 24vh #fff , 194vw 37vh #fff , 164vw 9vh #fff , 16vw 96vh #fff;
  -webkit-animation: star_move 35s linear infinite;
          animation: star_move 35s linear infinite;
}

.members {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.members img {
  width: 20%;
}

@media (max-width: 900px) {
  .roadmap div.wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roadmap div.wrapper img {
    max-width: 35%;
    margin-bottom: 1.5rem;
  }
  .roadmap div.wrapper span {
    color: #fff;
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }
  .roadmap div.wrapper:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .roadmap div.wrapper:nth-child(even) span {
    margin: 0;
    padding: 0 1rem;
    text-align: center;
  }
}

.roadmap {
  overflow: visible;
  margin-bottom: 0;
  padding: 10px;
}

.roadmap .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5rem;
}

.roadmap .wrapper.rotate img {
  -webkit-animation: planet_rotate 50s linear infinite;
          animation: planet_rotate 50s linear infinite;
}

.roadmap .wrapper.shake img {
  -webkit-animation: planet_shake 10s linear infinite;
          animation: planet_shake 10s linear infinite;
}

.roadmap .wrapper span {
  font-size: 1.2rem;
  color: #fff;
  margin-left: 2rem;
}

.roadmap .wrapper:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.roadmap .wrapper:nth-child(even) span {
  margin-right: 2rem;
  margin-left: 0;
  text-align: right;
}

.idea {
  margin-top: 4rem;
  -webkit-animation: idea_move 30s linear infinite;
          animation: idea_move 30s linear infinite;
}

.idea #idea {
  max-width: 65vw;
}

.seek {
  height: 50vw;
}

.seek #seek_left {
  width: 75%;
  bottom: 70px;
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
  -webkit-animation: seek_left_move 10s linear infinite;
          animation: seek_left_move 10s linear infinite;
}

.seek #seek_right {
  width: 40%;
  right: -8%;
  top: 70px;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-animation: seek_left_move 10s linear infinite;
          animation: seek_left_move 10s linear infinite;
}

section {
  overflow-x: hidden;
  margin-bottom: 70px;
}
/*# sourceMappingURL=main.css.map */