.box {
    width: 120%;
    position: relative;
    z-index: 100;

    @include responsive($sm) {
        width: 110%;
    }
}

#about-svg {
    width: 100%;
}

#ufo-svg {
    animation: swinging 1s linear infinite;

    @keyframes swinging {
        0% {
            transform: translate(4px, 4px);
        }
        50% {
            transform: translate(0, 0);
        }
        100% {
            transform: translate(4px, 4px);
        }
    }
}



#ufo-led {
    animation: glitter 1s ease infinite;
    transform-box: fill-box;
    transform-origin: center;
    
    @keyframes glitter {
        0% {
            opacity: 0.8;
            transform: scale(0.8);
        }
        50% {
            transform: scale(1);
            opacity: 1;
        }
        100% {
            opacity: 0.8;
            transform: scale(0.8);
        }
    }
}


#poly-light {
    animation: flicker 5s cubic-bezier(1, 0, 0, 1) 1s infinite;
    
    @keyframes flicker {
        0%,
        19.999%,
        22%,
        62.999%,
        64%,
        64.999%,
        70%,
        100% {
            opacity: 0.32;
        }
        20%,
        21.999%,
        63%,
        63.999%,
        65%,
        69.999% {
            opacity: 0;
        }
    }
}


.about__text {
    height: 50%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    margin: 5% 12% 5% 5%;
    color: #fff;
    text-align: center;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }

    @include responsive($sm) {
        margin: 5% 20% 5% 5%;
        font-size: 0.5rem;
    }
}
