.space {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;

    span {
        display: block;
        background-color: transparent;
    }

    span:nth-child(1) {
        width: 1px;
        height: 1px;
        box-shadow: generate-start(1000, 200, 700);
        animation: starfield 250s linear infinite;

        &:after {
            content: " ";
            position: absolute;
            left: 200vw;
            width: 1px;
            height: 1px;
            background: transparent;
            box-shadow: generate-start(1000, 200, 700);
        }

        @include responsive($sm) {
            & {
                box-shadow: generate-start(500, 200, 500);
                animation: starfield 125s linear infinite;

                &:after {
                    left: $md;
                    box-shadow: generate-start(500, 200, 500);
                }
            }
        }
    }
    span:nth-child(2) {
        width: 2px;
        height: 2px;
        border-radius: 100%;
        box-shadow: generate-start(500, 200, 700);
        animation: starfield 125s linear infinite;

        &:after {
            content: " ";
            position: absolute;
            left: 200vw;
            width: 2px;
            height: 2px;
            border-radius: 100%;
            background: transparent;
            box-shadow: generate-start(500, 200, 700);
        }

        @include responsive($md) {
            & {
                box-shadow: generate-start(300, 200, 500);
                animation: starfield 75s linear infinite;

                &:after {
                    left: $md;
                    box-shadow: generate-start(300, 200, 500);
                }
            }
        }
    }
    span:nth-child(3) {
        width: 3px;
        height: 3px;
        border-radius: 100%;
        box-shadow: generate-start(300, 200, 700);
        animation: starfield 50s linear infinite;

        &:after {
            content: " ";
            position: absolute;
            left: 2000px;
            width: 3px;
            height: 3px;
            border-radius: 100%;
            background: transparent;
            box-shadow: generate-start(300, 200, 700);
        }

        @include responsive($md) {
            & {
                box-shadow: generate-start(200, 200, 500);
                animation: starfield 25s linear infinite;

                &:after {
                    left: $md;
                    box-shadow: generate-start(200, 200, 500);
                }
            }
        }
    }
}

@keyframes starfield {
    from {
        transform: translateX(0vw);
    }
    to {
        transform: translateX(-200vw);
    }
}
@include responsive($md) {
    @keyframes starfield {
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(-$md);
        }
    }
}

.comet {
    width: 120%;
    height: 3px;
    position: fixed;
    top: 30%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-10deg);
    -moz-transform: translate(-50%, -50%) rotate(-10deg);
    -ms-transform: translate(-50%, -50%) rotate(-10deg);
    -o-transform: translate(-50%, -50%) rotate(-10deg);
    transform: translate(-50%, -50%) rotate(-10deg);
}
.comet .comet-inner {
    width: 300px;
    height: 100%;
    display: block;
    position: absolute;
    left: 50%;
    -webkit-animation: zip 12s linear infinite;
    -moz-animation: zip 12s linear infinite;
    animation: zip 12s linear infinite;
}
@-moz-keyframes zip {
    0% {
        left: 100%;
    }
    85% {
        left: 100%;
    }
    90% {
        left: -50%;
    }
    100% {
        left: -50%;
    }
}
@-webkit-keyframes zip {
    0% {
        left: 100%;
    }
    85% {
        left: 100%;
    }
    90% {
        left: -50%;
    }
    100% {
        left: -50%;
    }
}
@keyframes zip {
    0% {
        left: 100%;
    }
    85% {
        left: 100%;
    }
    90% {
        left: -50%;
    }
    100% {
        left: -50%;
    }
}
.comet .comet-inner:before {
    content: "";
    background-color: #fff;
    width: 3px;
    height: 3px;
    position: absolute;
    left: 0%;
    border-radius: 100%;
}
.comet .comet-inner:after {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    background-image: -webkit-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5),
        #2e2d4d
    );
    background-image: -moz-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5),
        #2e2d4d
    );
    background-image: -ms-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5),
        #2e2d4d
    );
    background-image: -o-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.5),
        #2e2d4d
    );
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.5), #2e2d4d);
    width: 200px;
    height: 3px;
    position: absolute;
    left: 0%;
    border-top-left-radius: 3px;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 100%;
}
