@keyframes swinging {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-10px, 15px);
    }
    50% {
        transform: translate(15px, -20px);
    }
    75% {
        transform: translate(-5px, 20px);
    }
}

@keyframes seek_left_move {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(2deg);
    }
    75% {
        transform: rotate(-2deg);
    }
}

@keyframes planet_shake {
    0%,
    100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(10deg);
    }
    75% {
        transform: rotate(-10deg);
    }
}

@keyframes planet_rotate {
    0%,
    100% {
        transform: rotate(0);
    }
    50% {
        transform: rotate(180deg);
    }
}

@keyframes swinging-ufo {
    0%,
    100% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(-8px, 4px);
    }
    50% {
        transform: translate(4px, 0px);
    }
    75% {
        transform: translate(-4px, 4px);
    }
}
